tr{
	font-family:'times new roman',times,serif;
}
th{
	background-color: rgb(#DCA522);
}
/*#roll no{
		font-weight: 600;
	}		
	.name{
		color : blue violet;-
	}
	*{
		background-color: aqua;
	}
	*/
	table,th,td{

		border-style: solid;
		border-collapse: collapse;
		background-color: gray;
	}
	.head{
		color: white ;
	}
	*tr 1{
		background-color: yellow;
	}
			}
